{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="container account-management">

  <div class="row justify-content-center">
    <div class="col-10 col-md-6 page-heading">
      <h1 class="text-center">{% trans "Are you sure you want to sign out?" %}</h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-10 col-md-4">


      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class='account-management-btn' type="submit">{% trans 'Sign Out' %}</button>
      </form>

    </div>
  </div>
</div>
{% endblock %}