{% extends "account_management.html" %}





{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>



<div class="row justify-content-center">
    <div class="col-12 page-heading">
        <h1>{% trans "Password Reset" %}</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12">
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="account-management-btn" type="submit" value="{% trans 'Reset My Password' %}" />
        </form>

    </div>

    {% endblock %}