{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="container account-management">

    {% if messages %}
    <div>
        <strong>Messages:</strong>
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-10 col-md-6">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="account-management-btn" type=" submit" name="action">SUBMIT</button>
                <a class="small-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}