/* CSS variables */

:root {
    /* main brand color */
    --mixr-yellow: #FFC71F;
    /* white color for text */
    --white: #ffffff;
    /* hightlight/hover color */
    --highlight: #011936;
    /* black color for text */
    --black: #000000;
    /* heading text */
    --heading-text: 'forma-djr-deck', sans-serif;
    /* body text*/
    --body-text: 'corporate-a', serif;
}

/* base styles */

.bg-primary {
    background-color: var(--mixr-yellow) !important;
}

body {
    font-family: var(--body-text);
}

a {
    text-decoration: none;
}

.container-gap {
    margin-top: 2em;
}

/* NavBar styles */


/* Toggler */

.navbar-dark .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
    font-size: 2rem;
    color: var(--white);
}

.navbar-dark .navbar-toggler :hover {
    color: var(--highlight);
}

/* logo */

.logo {
    font-family: var(--heading-text);
    font-size: 2rem;
    font-weight: 800;
    padding: .10em .75em;
}

.logo>i {
    vertical-align: top;
    font-size: 2.10rem;
}

.logo-inline {
    padding: 0;
}

.logo-inline i {
    font-size: 2.35rem;
}

/* Nav links */

nav a {
    font-family: var(--heading-text);
    font-weight: 800;
    vertical-align: middle;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--white);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--highlight);
}

/* footer */

footer a {
    color: var(--white);
    font-size: 1.5em;
}

footer a :hover {
    color: var(--highlight);
}

/* resposnive design */

@media screen and (max-width:576px) {
    nav li a {
        text-align: center;
    }

    nav li {
        padding: .5em;
        border-top: 3px solid var(--white);
    }

    nav ul {
        border-bottom: 3px solid var(--white);
        margin-top: .5em;
    }

    .navbar {
        padding-bottom: 0;
    }

    .navbar .logo {
        padding: .5em;
    }
}



/* account management */

.empty {
    height: 30vh;
}

.account-management-btn {
    background-color: var(--mixr-yellow);
    color: var(--white);
    font-family: var(--heading-text);
    font-size: 1.5em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: none;
    padding: .5em;
    border-radius: 2em;
    width: 100%;
    margin: .5em 0;
}

.account-management-btn:hover {
    background-color: var(--highlight);
}

.account-management label {
    display: block;

}

.account-management input {
    font-family: var(--heading-text);
    font-weight: 800;
    font-size: 1.5em;
    color: --black;
    border: none;
    border-bottom: #FFC71F solid 3px;
}

/* code to change default placeholder text taken from https://www.w3schools.com/howto/howto_css_placeholder.asp */

/* Chrome, Firefox, Opera, Safari 10.1+ */
.account-management ::placeholder {
    color: var(--black);
    /* Firefox */
    opacity: 1;
}

/* Internet Explorer 10-11 */
.account-management :-ms-input-placeholder {
    color: var(--black);
}

/* Microsoft Edge */
.account-management ::-ms-input-placeholder {
    color: var(--black);
}

/* Landing page */

/* user not logged in landing page */

/* landing page background */
.landing-page {
    background-color: var(--mixr-yellow);
}

/* landing page buttons */
.alt-btn {
    color: var(--mixr-yellow);
    background-color: var(--white);
    width: 80%;
    font-size: 1.2em;
}

/* landing page logo */

.logo-landing-page {
    font-size: 5em;
    color: var(--white);
    text-align: center;
    padding: 0;
    margin-top: 50vh;
}

.logo-landing-page i {
    font-size: 1.03em;
    color: var(--white);
}

/* landing page disclaimer */

.legal-disclaimer {
    padding: 2em;
    font-size: 1.1em;
    text-align: center;
    color: var(--white);
}

.legal-disclaimer>a {
    color: var(--highlight);
}

.legal-disclaimer>a:hover {
    text-decoration: underline;
}

/* landing page logged in */

/* icons */

.icon-container i {
    background-color: var(--mixr-yellow);
    color: var(--white);
    font-size: 5em;
    padding: .5em;
    width: auto;
    height: auto;
    border-radius: 50%;
}

.icon-container {
    text-align: center;
    height: auto;
    padding-bottom: 2.5em;
}

.icon-container a :hover {
    color: var(--highlight);
}

/* text descriptions */
.icon-container p {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    margin: 0;
}

/* headings  */

.page-heading .logo {
    padding: 0;
}

.page-heading {
    margin-top: 8vh;
    margin-bottom: 5vh;
}

.page-heading h1 {
    border-bottom: 3px solid var(--mixr-yellow);
    padding-bottom: 10px;
    font-family: var(--heading-text);
    font-weight: 800;
}

.page-heading p {
    font-size: 1.25em;
}

.sub-heading {
    padding: .5em;
    font-family: var(--heading-text);
    font-weight: 800;

}

.bold-header {
    font-weight: 800;
    font-size: 1.75em;
}

.decorative-line {
    border-bottom: 3px solid var(--mixr-yellow);
    padding-bottom: 0.5em;
    margin-bottom: .1em;
}

/* ingredient list */


/* style for the ingredient buttons */
.ingredient {
    border: 2px solid var(--black);
    display: inline-block;
    margin: .25em;
    padding: .25em 1em;
    border-radius: 25px;
    letter-spacing: 3px;
    text-align: center;
    font-family: var(--heading-text);
    font-weight: 800;
    text-transform: uppercase;
}

/* style for active ingredients */
.ingredient-active {
    border: 2px solid var(--mixr-yellow);
    color: var(--white);
    background-color: var(--mixr-yellow);

}

/* removes the margin from the default page heading */
.remove-margin {
    margin-bottom: 0;
    margin-top: 2vh;
}

/* make drink btn  */

.mixr-button {
    text-transform: none;
    width: 200px;
}

/* smaller icons */

.icon-container-small i {
    padding: .25em;

}

.icon-container-small p {
    margin-top: .5em;
    font-weight: 800;
    color: var(--black);

}

/* recipes */

.recipe-text {
    font-size: 1.3em;
    font-weight: 800;
    margin-top: .5em;

}