/* removes default margins, padding and sets box-sizing to border-box */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* CSS variables */
:root {
    /* main brand color */
    --mixr-yellow: #FFC71F;
    /* white color for text */
    --white: #ffffff;
    /* hightlight/hover color */
    --highlight: #011936;
    /* heading text */
    --heading-text: 'forma-djr-deck', sans-serif;
    /* body text*/
    --body-text: 'corporate-a', serif;
}

/* base styles */

.bg-primary {
    background-color: var(--mixr-yellow) !important;
}

/* NavBar styles */


/* Toggler */

.navbar-dark .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
    font-size: 2rem;
    color: var(--white);
}

.navbar-dark .navbar-toggler :hover {
    color: var(--highlight);
}

/* logo */

.logo {
    font-family: var(--heading-text);
    font-size: 2rem;
    font-weight: 800;
    padding: .10em .75em;
}

.logo>i {
    vertical-align: top;
    font-size: 2.10rem;
}

/* Nav links */

nav a {
    font-family: var(--heading-text);
    font-weight: 800;
    vertical-align: middle;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--white);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--highlight);
}

/* footer */

footer a {
    color: var(--white);
    font-size: 1.5em;
}

footer a :hover {
    color: var(--highlight);
}

/* resposnive design */

@media screen and (max-width:576px) {
    nav li a {
        text-align: center;
    }

    nav li {
        padding: .5em;
        border-top: 3px solid var(--white);
    }

    nav ul {
        border-bottom: 3px solid var(--white);
        margin-top: .5em;
    }

    .navbar {
        padding-bottom: 0;
    }

    .navbar .logo {
        padding: .5em;
    }
}