{% if canUserDrink%}
{% include "base.html" %}
{% else %}
{% include "landing_page.html" %}

{%endif%}
{% block content %}

<div class="row justify-content-center">
    <div class="col-10 page-heading col-md-6">
        <h1>{{user}}'s Profile</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-10  col-md-6">
            <div class="row">
                <div class="col-1 account-update">
                    >
                </div>
                <div class="col-11">
                    <a href=" {% url 'account_change_password' %}" aria-label="allows the user to change their password"
                        class="account-link  account-update">Change
                        Password</a>

                </div>
            </div>

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10  col-md-6 ">
            <div class="row">
                <div class="col-1 account-update">
                    >
                </div>
                <div class="col-11">
                    <a href="{% url 'account_email' %}" class="account-link  account-update"
                        aria-label="allows the user to update their email">Update Email</a>
                </div>
            </div>
        </div>
    </div>
    {% if user.is_superuser %}
    <div class="row justify-content-center">
        <div class="col-10  col-md-6">
            <div class="row">
                <div class="col-1 account-update">
                    >
                </div>
                <div class="col-11">
                    <a href="{% url 'awaiting_approval' %}" aria-label="allows the user to approve recipes"
                        class="account-link  account-update" class="account-update">Approve
                        Recipes</a>
                </div>
            </div>
        </div>
    </div>
    {%endif%}
    <div class="row justify-content-center">
        <div class="col-10 page-heading col-md-6 account-management ">
            <form method="post">
                {% csrf_token %}
                <input type="date" id="dob" name="dob" class="input-wide">
                <label for="dob">Want to change your date of birth? We won't tell anyone</label>

                <div class="text-center">
                    <button class="account-management-btn mixr-button" aria-label="updates the users dob" type="submit">
                        UPDATE
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


{%endblock%}