{% extends "base.html" %}

{% block content %}

<div class="row">
    {%if recipe.recipe_name == "No Recipes"%}
    <div class="col-10 offset-1 page-heading">
        <h1>There's nothing left to approve</h1>
    </div>
    {%else%}
    <div class="col-10 offset-1 page-heading">
        <h1>{{recipe}}</h1>
        <form method="post">
            {% csrf_token %}
            <label for="drink-name">Recipe Name</label>
            <input type="text" name="old-name" id="old-name" class="account-management recipe-input d-none"
                value="{{recipe}}" required>
            <input type="text" name="drink-name" id="drink-name" class="account-management recipe-input"
                value="{{recipe}}" required>
            <div class="col-10 ">
                <h2>Drink Type</h2>
                <div class="decorative-line"></div>
            </div>
            <div id="type-section">


                <input type="radio" id="up" name="type" value="0" class="d-inline" required>
                <label for="up" class="d-inline"></label>Up</label>

                <input type="radio" id="rocks" name="type" value="1" class="d-inline">
                <label for="rocks" class="d-inline"></label>On The Rocks</label>

                <input type="radio" id="long" name="type" value="2" class="d-inline">
                <label for="long" class="d-inline"></label>Long</label>




            </div>
            <div class="col-10 ">
                <h2>Ingredients</h2>
                <div class="decorative-line"></div>
            </div>
            <div id="ingredient-section">
                {%for ingredient in ingredients%}
                <input class='recipe-input' type="text" id="ingredient-{{forloop.counter}}" name="ingredient"
                    value="{{ingredient}}">
                {%endfor%}
            </div>
            <div class="col-10 ">
                <h2>Steps</h2>
                <div class="decorative-line"></div>
            </div>
            <div id="step-section">
                {%for step in steps%}
                <input class='recipe-input' type="text" id="step-{{forloop.counter}}" name="step" value="{{step}}">
                {%endfor%}
            </div>
            {% if new_ingredients.0 == "No New Ingredients"%}
            <!-- do nothing -->
            {%else%}
            <div class="col-10 ">
                <h2>Base/Modifier?</h2>
                <div class="decorative-line"></div>
            </div>
            <div id="new-ingredients-section">
                {%for ingredient in new_ingredients%}
                <div class="col-12">
                    <p class="d-inline"></p>{{ingredient}}:</p>
                    <input type="radio" id="base-{{ingredient}}" name="{{ingredient}}" value="base" class="d-inline"
                        required>
                    <label for="base-{{ingredient}}" class="d-inline"></label>Base</label>
                    <input type="radio" id="modifier-{{ingredient}}" name="{{ingredient}}" value="modifier"
                        class="d-inline">
                    <label for="modifier-{{ingredient}}" class="d-inline"></label>Modifier</label>
                </div>
                {%endfor%}
            </div>
            {% endif %}
            <div class="row justify-content-center">
                <div class="col-10 col-md-5 d-flex justify-content-center">
                    <button class="account-management-btn mixr-button text-uppercase warning" type="submit"
                        value="reject">
                        Reject
                    </button>
                </div>
                <div class="col-10 col-md-5  d-flex justify-content-center">
                    <button class="account-management-btn mixr-button text-uppercase" type="submit" value="aprove">
                        Approve
                    </button>
                </div>
            </div>





        </form>
    </div>

    {%endif%}
</div>

{%endblock%}