{% extends "base.html" %}

{% block content %}

<div class="container">
    {% if no_favs%}
    <div class="row">
        <div class="col-10 offset-1 page-heading remove-margin">
            <h1>So Empty :(</h1>
            <p>Looks like you haven't liked any drinks yet.
            </p>
        </div>
    </div>
    {%else%}
    <div class=" row">
        <div class="col-10 offset-1 page-heading remove-margin">
            <h1>Your favourite drinks</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row">
                {% for drink in favs%}
                {% if drink.0 == 'No Recipes'%}
                {%else%}
                <div class="col-10 sub-heading col-md-6 page-heading remove-margin-total">

                    <form method="post">
                        {% csrf_token %}
                        <input type="text" value="{{drink.0}}" name="{{drink.0}}" class="d-none">
                        <input type="submit" name="{{drink.0}}" value='{{drink.0}}' id="{{drink.0}}" class="d-none">
                        <label for="{{drink.0}}" class="clickable" aria-label="Opens the recipe page for {{drink.0}}">
                            <h2><span class="drink-icon-small">
                                    {% if drink.1 is 0 %}
                                    <i class="fa-solid fa-martini-glass"></i></span> {{drink.0}}
                                {% elif drink.1 is 1 %}
                                <i class="fa-solid fa-whiskey-glass"></i></span> {{drink.0}}
                                {% elif drink.1  is 2 %}
                                <i class="fa-solid fa-glass-water"></i></span> {{drink.0}}
                                {% endif %}
                            </h2>
                        </label>

                    </form>

                </div>
                {% endif %}
                {% endfor%}
            </div>

            {%endif%}

        </div>
    </div>
</div>

{%endblock%}

{% if drink.0 is 0 %}
<i class="fa-solid fa-martini-glass"></i>
{% elif drink.0 is 1 %}
<i class="fa-solid fa-whiskey-glass"></i>
{% elif drink.0  is 2 %}
<i class="fa-solid fa-glass"></i>
{% endif %}