<!-- checks to see if the user is authenticated and loads the correct template -->
{% if user.is_authenticated %}
{% include "base.html" %}
{% else %}
{% include "login_landing_page.html" %}
{% endif%}
{% block content %}
{% if user.is_authenticated %}
<!-- if the user is logged loads main content-->

<!-- checks to see if the user has any ingredients -->


<div class="container">
    <div class="row">
        <div class="col-10 offset-1 page-heading">
            <h1>Welcome to <span class="logo">MIXr<i class="fa-solid fa-martini-glass-citrus"></i></span></h1>
            <p>Let's get started</p>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class=" col-6 icon-container ">
            <a href="#">
                <i class="fa-solid fa-martini-glass-empty"></i>
            </a>
            <p>Drink?</p>
        </div>
        <div class="col-6">
            <div class="icon-container">
                <a href="{% url 'ingredient_list' %}">
                    <i class="fa-solid fa-wine-bottle"></i>
                </a>
                <p>Ingredients</p>
            </div>
        </div>
        <div class="col-6">
            <div class="icon-container">
                <a href="#">
                    <i class="fa-solid fa-file-circle-plus"></i>
                </a>
                <p>Recipes</p>
            </div>
        </div>
    </div>

</div>


{% else %}
<!-- Else the load the sign up/ login page -->
<div class="col-12 logo-container">
    <h1 class="logo logo-landing-page">MIXr<i class="fa-solid fa-martini-glass-citrus"></i></h1>
</div>
<div class="col-8  offset-3">
    <a href="{% url 'account_login' %}">
        <button class="account-management-btn alt-btn">Login</button>
    </a>
    <a href="{% url 'account_signup' %}">
        <button class="account-management-btn alt-btn">Sign up</button>
    </a>
</div>
<div class="col-10  offset-1"></div>
<p class="legal-disclaimer">Drink Responsibly. For infomation about healthy drinking habits please visit <a
        href="https://www.drinkaware.co.uk/" target="_blank"
        aria-label="external link to the drink aware site">drinkaware.co.uk</a></p>
</div>
</div>



{% endif%}
{%endblock%}