<!-- checks to see if the user is authenticated and loads the correct template -->
{% if user.is_authenticated %}
{% if canUserDrink%}
{% include "base.html" %}
{% else %}
{% include "landing_page.html" %}
{% endif%}
{% else %}
{% include "login_landing_page.html" %}
{%endif%}






{% block content %}
{% if user.is_authenticated %}
<!-- if the user is logged loads main content-->

<!-- checks to see if the user has any ingredients -->

{% if UserDataExists%}
{% if not canUserDrink%}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 page-heading col-md-6 text-center">
            <i class="fas fa-id-card id"></i>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10  page-heading col-md-7 page-heading remove-margin-total">
            <h1>Can we see some ID?</h1>
            <p>I’m sorry but it looks like you’re not old enough to drink. Please come back when you turn
                18.</p>
        </div>
    </div>

</div>
{% else%}
<div class="spacer d-none d-md-block"></div>
<div class="spacer d-none d-md-block"></div>

<div class="container">
    <div class="row">
        <div class="col-10 offset-1 page-heading">
            <h1>Welcome to <span class="logo">MIXr<i class="fa-solid fa-martini-glass-citrus"></i></span></h1>
            <p>Let's get started</p>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class=" col-6 col-md-4 icon-container stacked-icons">
            <a href="{% url 'modifier_list' %}" aria-label="Opens modifer list">
                <i class="fa-solid fa-martini-glass-empty"></i>
            </a>
            <p>Drink?</p>
        </div>

        <div class="col-6 col-md-4 icon-container stacked-icons ">
            <a href="{% url 'ingredient_list' %} " aria-label="Opens ingredient list">
                <i class="fa-solid fa-wine-bottle"></i>
            </a>
            <p>Ingredients</p>
        </div>

        <div class=" col-6 col-md-4 icon-container stacked-icons ">

            <a href="{% url 'submit_recipe' %}" aria-label="Opens submit recipe form">
                <i class="fa-solid fa-file-circle-plus"></i>
            </a>
            <p>Recipes</p>

        </div>
    </div>

</div>
{%endif%}
{%else%}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-11 page-heading col-md-6 text-center">
            <i class="fas fa-id-card id"></i>
        </div>
        <div class="row justify-content-center">
            <div class="col-11 page-heading col-md-6 remove-margin-total">
                <h1>Hold on, one last thing...</h1>
                <p>Can we see some ID?</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10  col-md-6 text-center account-management">
            <form method="post">
                <div>
                    {% csrf_token %}
                    <input type="date" id="dob" name="dob" class="input-wide" value="1989-12-15">
                    <label for="dob">Please enter your date of birth:</label>
                </div>
                <div class="text-center">
                    <button class="account-management-btn mixr-button" type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>


</div>

{% endif %}


{% else %}
<!-- Else the load the sign up/ login page -->
<div class="row justify-content-center">
    <div class="col-12 logo-container">
        <h1 class="logo logo-landing-page">MIXr<i class="fa-solid fa-martini-glass-citrus"></i></h1>
    </div>
    <div class="spacer"></div>
</div>
<div class="row justify-content-center">
    <div class="col-10 col-md-3">
        <a href="{% url 'account_login' %}" aria-label="Opens account login">
            <button class="account-management-btn alt-btn input-wide">Login</button>
        </a>
        <a href="{% url 'account_signup' %}" aria-label="Opens account sign up">
            <button class="account-management-btn alt-btn">Sign up</button>
        </a>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10 col-md-5">
        <p class="legal-disclaimer">Drink Responsibly. For infomation about healthy drinking habits please visit <a
                href="https://www.drinkaware.co.uk/" target="_blank"
                aria-label="external link to the drink aware site">drinkaware.co.uk</a></p>
    </div>
</div>



{% endif%}
{%endblock%}