{% extends "base.html" %}

{% block content %}
<div class="container">
    {% if recipe.0.recipe_name == 'No Recipes' %}
    <div class="row">

        <div class="col-10 offset-1 page-heading">
            <h1>So Empty :(</h1>
            <p>Looks like you don't have enough booze to make a drink. Why don't you add something to your cupboards?
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            <div class="icon-container">
                <a href="{% url 'ingredient_list' %}">
                    <i class="fa-solid fa-wine-bottle"></i>
                </a>
                <p>Ingredients</p>
            </div>
        </div>
    </div>
    {%else%}

    <div class="row">

        <div class="col-10 offset-1 page-heading">
            <h1>{{recipe.0.recipe_name}}</h1>
        </div>
        <div class="row">
            <div class="col-10 offset-1 icon-container">
                <!-- if statment to check recipe type and loads correct fontawesome icon -->
                {% if recipe.0.drink_type is 0 %}
                <i class="fa-solid fa-martini-glass"></i>
                {% elif recipe.0.drink_type is 1 %}
                <i class="fa-solid fa-whiskey-glass"></i>
                {% elif recipe.0.drink_type is 2 %}
                <i class="fa-solid fa-glass"></i>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-10 offset-1 sub-heading page-heading remove-margin decorative-line">
            <h2>Ingredients</h2>
        </div>
        <div class="col-10 offset-1">
            <p class="recipe-text">
                {{ recipe.0.ingredients_list }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1 sub-heading page-heading remove-margin decorative-line">
            <h2>How to make</h2>
        </div>
        <div class="col-10 offset-1">
            <p class="recipe-text">
                {{recipe.0.recipe_steps }}
                <!-- <ul>

                    {%for step in recipe.0.recipe_steps %}
                    <li>{{step}}</li>

                    {%endfor%}
                </ul> -->
            </p>
        </div>
    </div>
    <div class="row ">
        <div class="col-10 offset-1 sub-heading page-heading remove-margin">
            <h2 class="bold-header decorative-line">How'd you like it?</h2>
        </div>
        <div class="row container-gap ">
            <div class="col-4 offset-1 icon-container icon-container-small">
                <a href="#">
                    <i class="fa-solid fa-circle-xmark"></i>
                    <p>Not my thing</p>
                </a>
            </div>
            <div class="col-4 offset-2 icon-container icon-container-small ">
                <a href="#">
                    <i class="fa-solid fa-circle-check"></i>
                    <p>Loved it</p>
                </a>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-8 offset-2 icon-container icon-container-small smaller-icon">
            <a href="#">
                <i class="fa-solid fa-martini-glass-empty"></i>
                <p>Fancy a differnt drink?</p>
            </a>
        </div>
    </div>
    {% endif %}
</div>


</div>

{%endblock%}