{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 page-heading">
            <h1>Get an idea for a cocktail?</h1>
            <p>Fill out the form and if it's tasty we'll get it added to our database.
            </p>
        </div>
    </div>

</div>

<div class="container account-management">
    <form method="post">
        <div class="row justify-content-center">
            <div class="col-md-6 col-10">
                {% csrf_token %}
                <!-- input for the drink name -->

                <input type="text" name="drink-name" id="drink-name" class="account-management input-wide"
                    placeholder="Drink Name?" required maxlength="200">
                <label for="drink-name">What do you want to call it? </label>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- title for the ingredients section -->
            <div class="col-10 col-md-6">
                <h2>Ingredients</h2>
                <div class="decorative-line"></div>
                <div class="spacer"></div>
            </div>
        </div>
        <div id="ingredients-section">
            <div class="row ingredients">
                <div class="col-2 offset-1">
                    <label for="volume-1" class='d-none'></label>
                    <input class='input-wide ' type="number" name="volume" id="volume-1" placeholder="00">
                </div>
                <div class="col-2">
                    <label for="measurement-1" class='d-none'></label>
                    <select class='input-wide ' id="measurement-1" name="measurement">
                        <option value="ml">ml</option>
                        <option value="barspoons">bsp</option>
                        <option value="dashes">dashes</option>
                        <option value="fl-oz">fl oz</option>
                    </select>
                </div>
                <div class="col-1 d-flex">
                    <p class='input-wide input-p align-items-center'>of</p>
                </div>
                <div class="col-5">
                    <label for="ingredient-name-1" class='d-none'></label>
                    <input class='input-wide' type="text" id="ingredient-name-1" name="ingredient"
                        placeholder="ingredient">
                </div>
            </div>

            <div class="row ingredients">
                <div class="col-2 offset-1">
                    <label for="volume-2" class='d-none'></label>
                    <input class='input-wide ' type="number" name="volume" id="volume-2" placeholder="00">
                </div>
                <div class="col-2">
                    <label for="measurement-2" class='d-none'></label>
                    <select class='input-wide ' id="measurement-2" name="measurement">
                        <option value="ml">ml</option>
                        <option value="barspoons">bsp</option>
                        <option value="dashes">dashes</option>
                        <option value="fl-oz">fl oz</option>
                    </select>
                </div>
                <div class="col-1 d-flex">
                    <p class='input-wide input-p align-items-center'>of</p>
                </div>
                <div class="col-5">
                    <label for="ingredient-name-2" class='d-none'></label>
                    <input class='input-wide' type="text" id="ingredient-name-2" name="ingredient"
                        placeholder="ingredient">
                </div>
            </div>
            <div class="row ingredients">
                <div class="col-2 offset-1">
                    <label for="volume-3" class='d-none'></label>
                    <input class='input-wide ' type="number" name="volume" id="volume-3" placeholder="00">
                </div>
                <div class="col-2">
                    <label for="measurement-3" class='d-none'></label>
                    <select class='input-wide ' id="measurement-3" name="measurement">
                        <option value="ml">ml</option>
                        <option value="barspoons">bsp</option>
                        <option value="dashes">dashes</option>
                        <option value="fl-oz">fl oz</option>
                    </select>
                </div>
                <div class="col-1 d-flex">
                    <p class='input-wide input-p align-items-center'>of</p>
                </div>
                <div class="col-5">
                    <label for="ingredient-name-3" class='d-none'></label>
                    <input class='input-wide' type="text" id="ingredient-name-3" name="ingredient"
                        placeholder="ingredient">
                </div>
            </div>
            <div class="row ingredients">
                <div class="col-2 offset-1">
                    <label for="volume-4" class='d-none'></label>
                    <input class='input-wide ' type="number" name="volume" id="volume-4" placeholder="00">
                </div>
                <div class="col-2">
                    <label for="measurement-4" class='d-none'></label>
                    <select class='input-wide ' id="measurement-4" name="measurement">
                        <option value="ml">ml</option>
                        <option value="barspoons">bsp</option>
                        <option value="dashes">dashes</option>
                        <option value="fl-oz">fl oz</option>
                    </select>
                </div>
                <div class="col-1 d-flex">
                    <p class='input-wide input-p align-items-center'>of</p>
                </div>
                <div class="col-5">
                    <label for="ingredient-name-4" class='d-none'></label>
                    <input class='input-wide' type="text" id="ingredient-name-4" name="ingredient"
                        placeholder="ingredient">
                </div>
            </div>
            <div class="row ingredients">
                <div class="col-2 offset-1">
                    <label for="volume-5" class='d-none'></label>
                    <input class='input-wide ' type="number" name="volume" id="volume-5" placeholder="00">
                </div>
                <div class="col-2">
                    <label for="measurement-5" class='d-none'></label>
                    <select class='input-wide ' id="measurement-5" name="measurement">
                        <option value="ml">ml</option>
                        <option value="barspoons">bsp</option>
                        <option value="dashes">dashes</option>
                        <option value="fl-oz">fl oz</option>
                    </select>
                </div>
                <div class="col-1 d-flex">
                    <p class='input-wide input-p align-items-center'>of</p>
                </div>
                <div class="col-5">
                    <label for="ingredient-name-5" class='d-none'></label>
                    <input class='input-wide' type="text" id="ingredient-name-5" name="ingredient"
                        placeholder="ingredient">
                </div>
            </div>
            <div class="row ingredients d-none">
                <div class="col-2 offset-1 ">
                    <label for="volume-6" class='d-none'></label>
                    <input class='input-wide ' type="number" name="volume" id="volume-6" placeholder="00">
                </div>
                <div class="col-2">
                    <label for="measurement-6" class='d-none'></label>
                    <select class='input-wide ' id="measurement-6" name="measurement">
                        <option value="ml">ml</option>
                        <option value="barspoons">bsp</option>
                        <option value="dashes">dashes</option>
                        <option value="fl-oz">fl oz</option>
                    </select>
                </div>
                <div class="col-1 d-flex">
                    <p class='input-wide input-p align-items-center'>of</p>
                </div>
                <div class="col-5">
                    <label for="ingredient-name-6" class='d-none'></label>
                    <input class='input-wide' type="text" id="ingredient-name-6" name="ingredient"
                        placeholder="ingredient">
                </div>
            </div>
            <div class="row ingredients d-none">
                <div class="col-2 offset-1">
                    <label for="volume-7" class='d-none'></label>
                    <input class='input-wide ' type="number" name="volume" id="volume-7" placeholder="00">
                </div>
                <div class="col-2">
                    <label for="measurement-7" class='d-none'></label>
                    <select class='input-wide ' id="measurement-7" name="measurement">
                        <option value="ml">ml</option>
                        <option value="barspoons">bsp</option>
                        <option value="dashes">dashes</option>
                        <option value="fl-oz">fl oz</option>
                    </select>
                </div>
                <div class="col-1 d-flex">
                    <p class='input-wide input-p align-items-center'>of</p>
                </div>
                <div class="col-5">
                    <label for="ingredient-name-7" class='d-none'></label>
                    <input class='input-wide' type="text" id="ingredient-name-7" name="ingredient"
                        placeholder="ingredient">
                </div>
            </div>
            <div class="row ingredients d-none">
                <div class="col-2 offset-1">
                    <label for="volume-8" class='d-none'></label>
                    <input class='input-wide ' type="number" name="volume" id="volume-8" placeholder="00">
                </div>
                <div class="col-2">
                    <label for="measurement-8" class='d-none'></label>
                    <select class='input-wide ' id="measurement-8" name="measurement">
                        <option value="ml">ml</option>
                        <option value="barspoons">bsp</option>
                        <option value="dashes">dashes</option>
                        <option value="fl-oz">fl oz</option>
                    </select>
                </div>
                <div class="col-1 d-flex">
                    <p class='input-wide input-p align-items-center'>of</p>
                </div>
                <div class="col-5">
                    <label for="ingredient-name-8" class='d-none'></label>
                    <input class='input-wide' type="text" id="ingredient-name-8" name="ingredient"
                        placeholder="ingredient">
                </div>
            </div>
        </div>




        <!-- adds/ removes ingredient lines -->
        <div class="row justify-content-center">
            <div class="col-6 d-flex justify-content-around ">
                <button class="account-management-btn  minus-plus" id="ing-minus">-</button>
                <button class="account-management-btn minus-plus" id="ing-plus">+</button>
            </div>
        </div>
        <div class="row justify-content-center ">
            <!-- title for the Recipe Steps section -->
            <div class="col-10 col-md-6">
                <h2>Recipe Steps</h2>
                <div class="decorative-line"></div>
            </div>
        </div>
        <!-- Recipe step input -->
        <div id="step-container">
            <div class="row justify-content-center step">
                <div class="col-1">
                    <p class='input-wide  input-p align-items-center'>1.</p>
                </div>
                <div class="col-9 col-md-5">
                    <input class='input-wide ' type="text" id="step-1" name="step" placeholder="Step">
                </div>
            </div>
            <div class="row justify-content-center step">
                <div class="col-1">
                    <p class='input-wide  input-p align-items-center'>2.</p>
                </div>
                <div class="col-9 col-md-5">
                    <input class='input-wide ' type="text" id="step-2" name="step" placeholder="Step">
                </div>
            </div>
            <div class="row justify-content-center step">
                <div class="col-1">
                    <p class='input-wide  input-p align-items-center'>3.</p>
                </div>
                <div class="col-9 col-md-5">
                    <input class='input-wide ' type="text" id="step-3" name="step" placeholder="Step">
                </div>
            </div>
            <div class="row justify-content-center step">
                <div class="col-1">
                    <p class='input-wide  input-p align-items-center'>4.</p>
                </div>
                <div class="col-9 col-md-5">
                    <input class='input-wide ' type="text" id="step-4" name="step" placeholder="Step">
                </div>
            </div>
            <div class="row justify-content-center step">
                <div class="col-1">
                    <p class='input-wide  input-p align-items-center'>5.</p>
                </div>
                <div class="col-9 col-md-5">
                    <input class='input-wide ' type="text" id="step-5" name="step" placeholder="Step">
                </div>
            </div>
            <div class="row justify-content-center step d-none">
                <div class="col-1">
                    <p class='input-wide  input-p align-items-center'>6.</p>
                </div>
                <div class="col-9 col-md-5">
                    <input class='input-wide ' type="text" id="step-6" name="step" placeholder="Step">
                </div>
            </div>
            <div class="row justify-content-center step d-none">
                <div class="col-1">
                    <p class='input-wide  input-p align-items-center'>7.</p>
                </div>
                <div class="col-9 col-md-5">
                    <input class='input-wide ' type="text" id="step-7" name="step" placeholder="Step">
                </div>
            </div>
            <div class="row justify-content-center step d-none">
                <div class="col-1">
                    <p class='input-wide  input-p align-items-center'>8.</p>
                </div>
                <div class="col-9 col-md-5">
                    <input class='input-wide ' type="text" id="step-8" name="step" placeholder="Step">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6 d-flex justify-content-around ">
                <button class="account-management-btn minus-plus" id="step-minus">-</button>
                <button class="account-management-btn  minus-plus" id="step-plus">+</button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 col-md-6 text-center">
                <button class="account-management-btn mixr-button" type="submit">
                    SUBMIT
                </button>
            </div>
        </div>
    </form>

</div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<!-- custom JavaScript to add/ remove lines from the ingredient and recipe step section -->
{% load static %}
<script src="{% static 'js/add_lines.js' %}"></script>



{%endblock%}