{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">


        <div class="col-10 offset-1 page-heading remove-margin">
            <h1>Mixers and modifers</h1>
            <p>Before we start mixing what modifiers/ mixers do you have?</p>
        </div>
    </div>

    <div class="row">

        <div class="col-12 justify-content-around">
            {% for ingredient in ingredient_list %}

            <div class="ingredient ingredient-active">{{ingredient.ingredient_name}}</div>

            {% endfor %}
        </div>
    </div>
</div>

{%endblock%}