{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">


        <div class="col-10 offset-1 page-heading remove-margin">
            <h1>Mixers and modifers</h1>
            <p>Before we start mixing what modifiers/ mixers do you have?</p>
        </div>
    </div>

    <div class="row">

        <div class="col-12 justify-content-around">
            {% for ingredient in ingredient_list %}

            <div class="ingredient">{{ingredient.ingredient_name}}</div>

            {% endfor %}
            <div class="row">
                <div class="col-4 offset-2">
                    <a href="{% url 'confirm_recipe' %}">
                        <button class="account-management-btn mixr-button">
                            <span class="logo logo-inline">MIXr<i class="fa-solid fa-martini-glass-citrus"></i></span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}