{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">


        <div class="col-10 offset-1 page-heading">
            <h1>What’s in your cupboards?</h1>
            <p>Let’s put those dusty old bottles to use. Select all bottles you have below…</p>
        </div>
    </div>

    <div class="row">

        <div class="col-12 justify-content-around">
            {% for ingredient in ingredient_list %}

            <div class="ingredient ingredient-active">{{ingredient.ingredient_name}}</div>

            {% endfor %}
        </div>
    </div>
</div>

{%endblock%}