{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10  page-heading col-md-7 page-heading">
            <h1>Mixers and modifers</h1>
            <p>Before we start mixing what modifiers/ mixers do you have?</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-11   col-md-11 remove-margin-total">
            <form method="post">
                <div class="row justify-content-center ">
                    <div class="col-12  page-heading col-md-10 remove-margin-total ingredient-container">
                        {% csrf_token %}

                        {% for ingredient in ingredient_list %}
                        <!-- checks to see if the user already has the ingredient in their database -->
                        {% if ingredient.ingredient_name in user_ingredients.0.0 %}
                        <input class="d-none" type="checkbox" id="{{ingredient.ingredient_name| lower | cut:' '}}"
                            checked name="ingredient" value="{{ingredient.ingredient_name}}">
                        {%else%}
                        <input class="d-none" type="checkbox" id="{{ingredient.ingredient_name| lower | cut:' '}}"
                            name="ingredient" value="{{ingredient.ingredient_name}}">
                        {%endif%}
                        <label class="ingredient"
                            for="{{ingredient.ingredient_name| lower | cut:' '}}">{{ingredient.ingredient_name}}</label>
                        {% endfor %}
                    </div>
                </div>
                <!-- submit button -->
                <div class="row justify-content-center">
                    <div class="col-12 text-center">

                        <button class="account-management-btn mixr-button"
                            aria-label="updates modifiers list and loads a drink for the user" type="submit">
                            <span class="logo logo-inline">MIXr<i class="fa-solid fa-martini-glass-citrus"></i></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{%endblock%}