{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">


        <div class="col-10 offset-1 page-heading remove-margin">
            <h1>What’s in your cupboards?</h1>
            <p>Let’s put those dusty old bottles to use. Select all bottles you have below…</p>
        </div>
    </div>

    <div class="row">

        <div class="col-12 justify-content-around">
            <form method="post">
                {% csrf_token %}

                {% for ingredient in ingredient_list %}
                <!-- checks to see if the user already has the ingredient in their database -->
                {% if ingredient.ingredient_name in user_ingredients.0.0 %}
                <input class="d-none" type="checkbox" id="{{ingredient.ingredient_name| lower | cut:' '}}" checked
                    name="ingredient" value="{{ingredient.ingredient_name}}">
                {%else%}
                <input class="d-none" type="checkbox" id="{{ingredient.ingredient_name| lower | cut:' '}}"
                    name="ingredient" value="{{ingredient.ingredient_name}}">
                {%endif%}
                <label class="ingredient"
                    for="{{ingredient.ingredient_name| lower | cut:' '}}">{{ingredient.ingredient_name}}</label>
                {% endfor %}
                <!-- submit button -->
                <div class="col-4 offset-3">

                    <button class="account-management-btn mixr-button" type="submit">
                        UPDATE
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{%endblock%}